
<div id="infocontenttemplate">
	<div class="infocontent">

		<button type="button" class="btn btn-secondary closeInfoButton"><i class="fa fa-times" aria-hidden="true"></i></button>

		<div class="row">
			<div class="col-11 col-sm-11">
				<div class="infotitle">
					{{ name }}{{#specifier}}: {{/specifier}}<span class="specifier">{{ specifier }}</span>
				</div>
			</div>
		</div>

		<div class="row vesselrow spaceabove">
			{{ #vessels }}
			<div class="col-12 col-sm-6 col-md-12">
				<div class="vesselbox">
					<div class="vesselname">
						{{ name }}
					</div>
					<div class="vesselfeatures">
						{{ #features }}
							<i class="fa fa-{{ icon }}" aria-hidden="true"></i> {{ value }} 
						{{ /features }}
					</div>
				</div>
			</div>
			{{ /vessels }}
		</div>
		<div class="row spaceabove">
			{{ #features }}
			<div class="col-12 col-sm-4 col-md-11 routefeature {{ class }}">{{{ value }}}</div>
			{{ /features}}
		</div>
		<div class="row spaceabove">
			{{ #timetables }}
			<div class="col-12 col-sm-12 col-md-12">
				<button type="button" linktype="{{exttimetables}}" data-target="{{id}}" class="btn btn-info btn-md timetablebutton {{exttimetables}}" href="{{link}}">
				{{#L}}timetables{{/L}} {{#buttonspecifier}}-{{/buttonspecifier}} {{buttonspecifier}}
				</button>
			</div>
			{{ /timetables }}
		</div>

		<div class="spaceabove pierrow">
			{{ #piers }}
				<div data-target="{{ id }}" class="pierlink {{ class }}"><span class="pier">{{ name }}{{#name_local}}/{{/name_local}}{{name_local}}</span><span class="pierspecifier"> {{ specifier }}</span></div>
			{{ /piers }}
		</div>

		<div class="spaceabove">
			{{ #notes }}
				{{{ content }}}
			{{ /notes }}
		</div>
		<div class="spaceabove"><h4>{{#L}}contactinfo{{/L}}</h4></div>

		<div id="contactslist" class="">
			<div class="contactsbox">
				{{ #contacts }}
				<div class="contactformheader">
					{{ name }}
				</div>
				{{ #items }}
				<a href="{{{uri}}}" target="{{ target }}">
					<button type="button" class="btn btn-outline-info contactbutton {{class}}">{{ text }}{{ specifier }}</button>
				</a>
				{{ /items }}
				{{ /contacts }}
			</div>
		</div>

	</div>
</div>
