<div class="menucontainer" id="menucontent">
  <div class="box" data-target="#gettingthere">
    <span lang="fi">Miten sinne pääsee</span><span lang="sv">Hur går man dit</span><span lang="en">Getting there</span>
  </div>
  <div class="box" data-target="#alandferriesinfo">
    <span lang="fi">Ahvenanmaan lautat</span><span lang="sv">Ålands färjor</span><span lang="en">Ferries in Åland</span>
  </div>
  <div class="box" data-target="#finlandferriesinfo">
    <span lang="fi">Manner-Suomen lautat</span><span lang="sv">Fasta-Finlands färjor</span><span lang="en">Ferries in Finland</span>
  </div>
  <div class="box" data-target="#live">
    <span lang="fi">Live-näkymä</span><span lang="sv">Live-vy</span><span lang="en">Live view</span>
  </div>
  <div class="box" data-target="#linksinfo">
    <span lang="fi">Linkkejä</span><span lang="sv">Länkar</span><span lang="en">Links</span>
  </div>
  <div id="about" class="box" data-target="#appinfo">
    <span lang="fi">Tietoja sovelluksesta</span><span lang="sv">Info om appen</span><span lang="en">About the Application</span>
  </div>
</div>
